.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .group_name
        = @group.name
      .group_member
        Member
        - @members.each do |member|
          = member.name
      .right-header
        .right-header__button
          = link_to "Edit", edit_group_path(current_user)
    .messages
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message], id: 'new_message' do |f|
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'message_image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
